output/
parts/
*.a
*.o
*.log
*.aux
*.bbl
*.fls
*.fdb_latexmk
*.blg
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
backups/
papers/hero-primes/
papers/submissions/
src/printprimes/printprimes
src/storeprimes/storeprimes
src/mergecps/mergecps
src/gbpairsummary/gbpairsummary
src/heroprime
src/mergecps/mergecps
src/heroprime/Makefile
src/certifygbpairs/certifygbpairs
src/certifyprimes/certifyprimes
src/cpslowerbound/cpslowerbound
src/findgbpairs/findgbpairs
src/primesieve_bitmap/primesieve_bitmap
src/validatepairrangesummary/validatepairrangesummary
